$card-width: 500px;

.posts__card {
  width: $card-width !important;
}

.posts__textarea {
  textarea {
    resize: none !important;
  }
}

.posts__input {
  input,
  textarea {
    background: rgb(252, 252, 252) !important;
  }
}

.posts__input--right-margin {
  input,
  textarea {
    margin-right: 30px !important;
  }
}

.posts__menu-container {
  float: right;
  position: relative;
}

.posts__menu-icon {
  float: right;

  &:hover {
    cursor: pointer;
  }
}

.posts__menu {
  position: absolute;
  top: 8px;
  right: 0;
  z-index: 10;
}

.posts__likes {
  float: right;
}

.posts__add {
  width: $card-width !important;
}

.posts__update-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.15);
  animation: cubic-bezier(0.075, 0.82, 0.165, 1) updateMenuEnter 1s;
}

.posts__update {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

.comments__update {
  transform: translateY(-32px);
  max-height: 0px;
}

.comments__update-actions {
  margin-top: 44px;
}

.comments__show-more-subcomments {
  margin-left: 21px;
  padding-top: 8px;
}

@keyframes updateMenuEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
