$card-width: 500px;

textarea {
  resize: none !important;
}

.main-container {
  position: relative;
}

.message-menu {
  position: absolute;
  top: 0;
  right: 0;
}

.card-main {
  width: $card-width !important;

  .card-menu-container {
    float: right;
    position: relative;

    .card-menu {
      position: absolute;
      top: 8px;
      right: 0;
      z-index: 10;
    }
  }

  .card-icon {
    float: right;

    &:hover {
      cursor: pointer;
    }
  }

  .card-likes {
    float: right;
  }

  .card-input {
    input {
      background: rgb(248, 248, 248) !important;
    }
  }
}

.post-add-form {
  width: $card-width !important;
}

.post-update-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.15);
  animation: cubic-bezier(0.075, 0.82, 0.165, 1) updateMenuEnter 1s;

  .card-post-update {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
  }
}

@keyframes updateMenuEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.comments-clickable {
  color: #4183c4;
  &:hover {
    color: #1e70bf;
    cursor: pointer;
  }
}

.comment-update-form {
  transform: translateY(-14px);

  .comment-update-input input {
    margin-right: 30px !important;
  }
}

.subcommets-show-more {
  margin-left: 21px;
  padding-top: 8px;
}

// .subcomments-form-container {
//   max-height: 79.5px !important;
//   height: 79.5px !important;
//   overflow: hidden !important;
// }

// .subcomments-form {
//   transform: translateY(3px);
// }

// .subcomments-form-actions{
//   transform: translateY(5px);
// }

// .subcomments-form-input {
//   // margin-left: 65px !important;
//   margin-right: 30px !important;
// }
