$top-margin: 30px;

.home__left {
  text-align: center;
  margin-top: $top-margin !important;
}

.home__image {
  width: 100%;
  margin-top: $top-margin;
  user-select: none;
}

.register {
  margin-top: $top-margin;
}
