@import "../../scss/mixins.scss";

@mixin nav-break-point {
  @media (max-width: #{562px}) {
    @content;
  }
}

.header__content {
  min-height: 65px !important;
}

@include nav-break-point {
  .login {
    width: 100% !important;
    .fields {
      flex-direction: column !important;

      .field {
        width: 100% !important;

        input {
          width: 100% !important;
        }
      }

      .field:nth-child(2) {
        margin: 10px 0px !important;
      }
    }
  }

  .header__logo {
    text-align: center !important;
  }

  button.ui.primary.button {
    width: 100% !important;
  }
}

@include not-mobile {
  .header-login-form {
    height: 35px !important;
  }
}
